test.py
build/btka/Analysis-00.toc
build/btka/base_library.zip
build/btka/btka.exe.manifest
build/btka/btka.pkg
build/btka/EXE-00.toc
build/btka/PKG-00.toc
build/btka/PYZ-00.pyz
build/btka/PYZ-00.toc
build/btka/warn-btka.txt
build/btka/xref-btka.html
build/btka/localpycs/pyimod01_archive.pyc
build/btka/localpycs/pyimod02_importers.pyc
build/btka/localpycs/pyimod03_ctypes.pyc
build/btka/localpycs/pyimod04_pywin32.pyc
build/btka/localpycs/struct.pyc
dist/btka.exe
dist/KeepAlive_win.exe
btka.spec
build/keepalive_win/base_library.zip
build/keepalive_win/Analysis-00.toc
build/keepalive_win/EXE-00.toc
build/keepalive_win/keepalive_win.exe.manifest
build/keepalive_win/keepalive_win.pkg
build/keepalive_win/PKG-00.toc
build/keepalive_win/PYZ-00.pyz
build/keepalive_win/PYZ-00.toc
build/keepalive_win/warn-keepalive_win.txt
build/keepalive_win/xref-keepalive_win.html
build/keepalive_win/localpycs/pyimod01_archive.pyc
build/keepalive_win/localpycs/pyimod02_importers.pyc
build/keepalive_win/localpycs/pyimod03_ctypes.pyc
build/keepalive_win/localpycs/pyimod04_pywin32.pyc
build/keepalive_win/localpycs/struct.pyc
